@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --black: rgb(0, 0, 0);
  --black-bg: rgb(37, 34, 34);
  --black-4: rgb(36, 36, 36);
  --black-100: #000;
  
  --body-black: #302c2ca6;
  
  --heading-black: rgb(48, 44, 44);
  --heading-black-80: #302c2ccc;

  --subheading-black: rgb(120, 118, 118);

  --grey-1: #faf9f8;
  --grey-2: rgb(246, 244, 242);
  --grey-3: rgb(230, 228, 226);
  --grey-4: rgb(214, 210, 204);

  --white: #fff;
  --white-008: #ffffff14;
  --white-20: #fff3;
  --white-70: #ffffffb3;

  --blue-1: rgb(29, 49, 91);
  
  --green-1: rgb(23, 81, 52);
  
  --yellow-1: rgb(129, 85, 0);
  --yellow-2: rgb(224, 190, 67);

  --red-1: rgb(146, 27, 16);
}

@layer base {
  *,
  ::after,
  ::before {
    @apply m-0 p-0 box-content;
  }

  body {
    @apply font-inter;
  }
}

@layer components {
.button-contained .button-contained_icon-start {
    opacity: 1;
    transform: translateX(0px);
  }

  .button-contained:hover .button-contained_icon-start {
    opacity: 0;
    transform: translateX(15px);
  }

  .button-contained .button-contained_icon-end {
    opacity: 0;
    transform: translateX(-15px);
  }

  .button-contained:hover .button-contained_icon-end {
    opacity: 1;
    transform: translateX(0px);
  }

  .container {
    @apply w-auto max-w-[1280px] mx-auto px-[20px] lg:px-[40px];
  }

  .container.is-wide {
    @apply max-w-[1680px];
  }

  .container .container {
    @apply px-0;
  }

  .marquee {
    @apply flex grow-0 shrink-0 basis-auto min-w-[var(--min-width)] z-[1] flex flex-row items-center;
    animation: scroll var(--duration) linear var(--delay) var(--iteration-count);
    animation-play-state: var(--play);
    animation-delay: var(--delay);
    animation-direction: var(--direction);
  }

  .marquee-container {
    @apply !overflow-x-hidden !flex !flex-row relative w-[var(--width)];
    transform: var(--transform);
  }

  .logo-marquee {
    @apply flex items-center;
    mask-image: linear-gradient(var(--mask-direction,to right),#0000,#000 20%,#000 80%,#0000);
  }

  .logo-marquee .child {
    @apply flex items-center ml-[0.25rem] mr-[0.25rem] md:ml-[35px] md:mr-[35px]
  }

  .initial-child-container {
    @apply flex grow-0 shrink-0 basis-auto min-w-[auto] flex-row;
  }

  .child {
    transform: var(--transform);
  }

  .twitter-marquee .marquee {
    @apply items-stretch;
  }
}

@layer utilities {
  @keyframes bounceX {
    0% {
        transform: translateX(0)
    }

    50% {
      transform: translateX(2px)
    }
    
    100% {
      transform: translateX(0)
    }
  }

  @keyframes fadeInUp {
    from { opacity: 0%; transform: translateY(20px) }
    to { opacity: 100%; transform: translateY(0px) }
  }

  @keyframes scroll {
    from { transform: translateX(0) }
    to { transform: translateX(-100%) }
  }

  .body-new {
    @apply text-[1rem] leading-[150%] tracking-[0.16px];
  }

  .tracking-wider {
    @apply tracking-[0.05em];
  }

  .p-bottom-75 {
    @apply pb-[4rem] lg:pb-[75px];
  }

  .p-bottom-175 {
    @apply pb-[4rem] md:pb-[5rem] lg:pb-[175px];
  }

  .p-bottom-185 {
    @apply pb-[4rem] md:pb-[5rem] lg:pb-[185px];
  }
  
  .p-bottom-190 {
    @apply pb-[4rem] md:pb-[5rem] lg:pb-[190px];
  }

  .p-top-75 {
    @apply pt-[4rem] lg:pt-[75px];
  }
  
  .p-top-115 {
    @apply pt-[4rem] md:pt-[5rem] lg:pt-[115px];
  }

  .p-top-175 {
    @apply pt-[4rem] md:pt-[5rem] lg:pt-[175px];
  }

  .p-top-185 {
    @apply pt-[4rem] md:pt-[5rem] lg:pt-[185px];
  }

  .text-balance {
    text-wrap: balance;
  }

  .t-b18 {
    font-size: .9375rem;
    line-height: 1.5;
    letter-spacing: -.01125rem;
  }

  @media (min-width: 48rem) {
    .t-b18 {
      font-size: calc(.65625rem + .5859375vw);
    }
  }

  @media (min-width: 80rem) {
    .t-b18 {
      font-size: 1.125rem;
    }
  }

  .t-b20 {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: -.0125rem;
  }

  @media (min-width: 48rem) {
    .t-b20 {
      font-size: calc(.625rem + .78125vw);
    }
  }

  @media (min-width: 80rem) {
    .t-b20 {
      font-size: 1.25rem;
    }
  }

  .t-13 {
    font-size: .8125rem;
  }

  @media (min-width: 48rem) {
    .t-13 {
      font-size: calc(.8125rem + 0vw);
    }
  }

  @media (min-width: 80rem) {
    .t-13 {
      font-size: .8125rem;
    }
  }

  .t-15 {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: -.00938rem;
  }

  @media (min-width: 48rem) {
    .t-15 {
      font-size: calc(1.09375rem + -.1953125vw);
    }
  }

  @media (min-width: 80rem) {
    .t-15 {
      font-size: .9375rem;
    }
  }

  .t-16 {
    font-size: .9375rem;
    line-height: 1.5;
    letter-spacing: -.01rem;
  }

  @media (min-width: 48rem) {
    .t-16 {
      font-size: calc(.84375rem + .1953125vw);
    }
  }

  @media (min-width: 80rem) {
    .t-16 {
      font-size: 1rem;
    }
  }

  .t-18-mono {
    font-size: .5625rem;
    line-height: 1.5;
    letter-spacing: -.01125rem;
  }

  @media (min-width: 30rem) {
    .t-18-mono {
      font-size: 18px;
    }
  }

  .t-14 {
    font-size: .875rem;
    line-height: 1.35;
  }

  @media (min-width: 48rem) {
    .t-14 {
      font-size: calc(.875rem + 0vw);
    }
  }

  .t-20 {
    font-size: 1.125rem;
    line-height: 1.35;
    letter-spacing: -.4px;
  }

  @media (min-width: 48rem) {
    .t-20 {
      font-size: calc(.9375rem + .390625vw);
    }
  }

  @media (min-width: 80rem) {
    .t-20 {
      font-size: 1.25rem;
    }
  }

  .t-24,
  .t-h6 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -.48px;
  }

  @media (min-width: 48rem) {
    .t-24,
    .t-h6 {
      font-size: calc(.875rem + .78125vw);
    }
  }

  @media (min-width: 80rem) {

    .t-24,
    .t-h6 {
      font-size: 1.5rem;
    }
  }

  .t-28,
  .t-h5 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: -.56px;
  }

  @media (min-width: 48rem) {
    .t-28,
    .t-h5 {
      font-size: calc(.5rem + 1.5625vw);
    }
  }

  @media (min-width: 80rem) {
    .t-28,
    .t-h5 {
      font-size: 1.75rem;
    }
  }

  .t-36,
  .t-h4 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: -.045rem;
  }

  @media (min-width: 48rem) {
    .t-36,
    .t-h4 {
      font-size: calc(1rem + 1.5625vw);
    }
  }

  @media (min-width: 80rem) {
    .t-36,
    .t-h4 {
      font-size: 2.25rem;
    }
  }

  .t-48,
  .t-h3 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: -.06rem;
  }

  @media (min-width: 48rem) {
    .t-48,
    .t-h3 {
      font-size: calc(-.125rem + 3.90625vw);
    }
  }

  @media (min-width: 80rem) {
    .t-48,
    .t-h3 {
      font-size: 3rem;
    }
  }

  .t-52 {
    font-size: 1.875rem;
    line-height: 1.18;
    letter-spacing: -1.56px;
  }

  @media (min-width: 48rem) {
    .t-52 {
      font-size: calc(-.1875rem + 4.296875vw);
    }
  }

  @media (min-width: 80rem) {
    .t-52 {
      font-size: 3.25rem;
    }
  }

  .t-58,
  .t-h2 {
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: -.10875rem;
  }

  @media (min-width: 48rem) {
    .t-58,
    .t-h2 {
      font-size: calc(-.75rem + 5.46875vw);
    }
  }

  @media (min-width: 80rem) {
    .t-58,
    .t-h2 {
      font-size: 3.625rem;
    }
  }

  .t-72,
  .t-h1 {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: -.135rem;
  }

  @media (min-width: 48rem) {
    .t-72,
    .t-h1 {
      font-size: calc(-1.125rem + 7.03125vw);
    }
  }

  @media (min-width: 80rem) {
    .t-72,
    .t-h1 {
      font-size: 4.5rem;
    }
  }

  .t-subheading {
    font-size: .875rem;
    line-height: 1.5;
    letter-spacing: -.01125rem;
  }

  @media (min-width: 48rem) {
    .t-subheading {
      font-size: calc(.5rem + .78125vw);
    }
  }

  @media (min-width: 80rem) {
    .t-subheading {
      font-size: 1.125rem;
    }
  }
}
