@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --black: rgb(0, 0, 0);
  --black-bg: rgb(37, 34, 34);
  --black-4: #rgb(36, 36, 36);
  --black-100: #000;
  
  --body-black: #302c2ca6;
  
  --heading-black: rgb(48, 44, 44);
  --heading-black-80: #302c2ccc;

  --subheading-black: rgb(120, 118, 118);

  --grey-1: #faf9f8;
  --grey-2: rgb(246, 244, 242);
  --grey-3: rgb(230, 228, 226);
  --grey-4: rgb(214, 210, 204);

  --white: #fff;
  --white-008: #ffffff14;
  --white-20: #fff3;

  --blue-1: rgb(29, 49, 91);
  
  --green-1: rgb(23, 81, 52);
  
  --yellow-1: rgb(129, 85, 0);
  --yellow-2: rgb(224, 190, 67);

  --red-1: rgb(146, 27, 16);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer base {
  *,
  ::after,
  ::before {
    @apply m-0 p-0 box-content;
  }

  body {
    @apply font-inter;
  }
}

@layer components {
  .container {
    @apply w-auto max-w-[1280px] mx-auto px-[20px] lg:px-[40px];
  }

  .container.is-wide {
    @apply max-w-[1680px];
  }

  .container .container {
    @apply px-0;
  }
}

@layer utilities {
  .p-bottom-175 {
    @apply pb-[4rem] md:pb-[5rem] lg:pb-[175px];
  }
  
  .p-bottom-190 {
    @apply pb-[4rem] md:pb-[5rem] lg:pb-[190px];
  }
  
  .p-top-115 {
    @apply pt-[4rem] md:pt-[5rem] lg:pt-[115px];
  }

  .p-top-175 {
    @apply pt-[4rem] md:pt-[5rem] lg:pt-[175px];
  }

  .text-balance {
    text-wrap: balance;
  }

  .t-b18 {
    font-size: .9375rem;
    line-height: 1.5;
    letter-spacing: -.01125rem;
  }

  @media (min-width: 48rem) {
    .t-b18 {
      font-size: calc(.65625rem + .5859375vw);
    }
  }

  @media (min-width: 80rem) {
    .t-b18 {
      font-size: 1.125rem;
    }
  }

  .t-b20 {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: -.0125rem;
  }

  @media (min-width: 48rem) {
    .t-b20 {
      font-size: calc(.625rem + .78125vw);
    }
  }

  @media (min-width: 80rem) {
    .t-b20 {
      font-size: 1.25rem;
    }
  }

  .t-24,
  .t-h6 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -.48px;
  }

  @media (min-width: 48rem) {
    .t-24,
    .t-h6 {
      font-size: calc(.875rem + .78125vw);
    }
  }

  @media (min-width: 80rem) {

    .t-24,
    .t-h6 {
      font-size: 1.5rem;
    }
  }

  .t-48,
  .t-h3 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: -.06rem;
  }

  @media (min-width: 48rem) {
    .t-48,
    .t-h3 {
      font-size: calc(-.125rem + 3.90625vw);
    }
  }

  @media (min-width: 80rem) {
    .t-48,
    .t-h3 {
      font-size: 3rem;
    }
  }

  .t-58,
  .t-h2 {
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: -.10875rem;
  }

  @media (min-width: 48rem) {
    .t-58,
    .t-h2 {
      font-size: calc(-.75rem + 5.46875vw);
    }
  }

  @media (min-width: 80rem) {
    .t-58,
    .t-h2 {
      font-size: 3.625rem;
    }
  }

  .t-72,
  .t-h1 {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: -.135rem;
  }

  @media (min-width: 48rem) {
    .t-72,
    .t-h1 {
      font-size: calc(-1.125rem + 7.03125vw);
    }
  }

  @media (min-width: 80rem) {
    .t-72,
    .t-h1 {
      font-size: 4.5rem;
    }
  }

  .t-subheading {
    font-size: .875rem;
    line-height: 1.5;
    letter-spacing: -.01125rem;
  }

  @media (min-width: 48rem) {
    .t-subheading {
      font-size: calc(.5rem + .78125vw);
    }
  }

  @media (min-width: 80rem) {
    .t-subheading {
      font-size: 1.125rem;
    }
  }
}
